streamlit==1.39.0
pandas
numpy
matplotlib
seaborn
plotly
altair
openpyxl
base64
joblib
warnings
streamlit-authenticator==0.4.1
scikit-learn
lightgbm
Flask
requests
extra-streamlit-components
pandasql
python-dotenv
pyyaml
gitpython
pydeck
importlib.util
SafeLoader
yaml
pathlib